@model Order
@{
	ViewData["Title"] = "Checkout";
}

<div id="all">
	  <div id="content">
		<div class="container">
		  <div class="row">
			<div class="col-lg-12">
			  <!-- breadcrumb-->
			  <nav aria-label="breadcrumb">
				<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a href="#">Home</a></li>
				  <li aria-current="page" class="breadcrumb-item active">Checkout - Address</li>
				</ol>
			  </nav>
			</div>
			<div id="checkout" class="col-lg-12">
			  <div class="box">
				<form method="post" action="/Customer/Cart/Checkout">
				  <h1>Checkout - Address</h1>
				  <div class="nav flex-column flex-md-row nav-pills text-center">
					  <a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-map-marker"></i>Address</a>

					  <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-eye"></i>Order Review</a>
				  </div>
				  <div class="content py-3">
					<div class="row">
						<div class="form-group col-md-6">
						   <label asp-for="Name" class="control-label"></label>
							<input asp-for="Name" class="form-control" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
						   <label asp-for="Phone" class="control-label"></label>
							<input asp-for="Phone" class="form-control" />
							<span asp-validation-for="Phone" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
						   <label asp-for="StreetAddress" class="control-label"></label>
							<input asp-for="StreetAddress" class="form-control" />
							<span asp-validation-for="StreetAddress" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
						   <label asp-for="District" class="control-label"></label>
							<input asp-for="District" class="form-control" />
							<span asp-validation-for="District" class="text-danger"></span>
						</div>
						

						<div class="form-group col-6">
							<label asp-for="CityName" class="control-label"></label>
							<select asp-for="CityName" class ="form-control" asp-items="ViewBag.Cities">
								<option disabled selected>--Select City--</option>
							</select>
							<span asp-validation-for="CityName" class="text-danger"></span>
						</div>

					</div>
				 </div>




				  <div class="box-footer d-flex justify-content-between"><a asp-action="Index" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Cart</a>
					<button type="submit" class="btn btn-primary">Continue to Order Review<i class="fa fa-chevron-right"></i></button>
				  </div>
				</form>
			  </div>
			  <!-- /.box-->
			</div>
			<!-- /.col-lg-12-->
		  </div>
		</div>
	  </div>
	</div>

