@model HyperShop.Models.Product

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="m-5">

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div >
	<div >
		<form asp-action="Create" class="row" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group col-6">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			
			<div class="form-group col-6">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			
			<div class="form-group col-6">
				<label asp-for="Gender" class="control-label"></label>
				<input asp-for="Gender" class="form-control" />
				<span asp-validation-for="Gender" class="text-danger"></span>
			</div>
			<div class="form-group col-6">
				<label asp-for="ShoesHeight" class="control-label"></label>
				<input asp-for="ShoesHeight" class="form-control" />
				<span asp-validation-for="ShoesHeight" class="text-danger"></span>
			</div>
			<div class="form-group col-6">
				<label asp-for="ClosureType" class="control-label"></label>
				<input asp-for="ClosureType" class="form-control" />
				<span asp-validation-for="ClosureType" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="PrimaryImage"></label>
				<input type="file" accept="image/png, image/jpg, image/jpeg" id="uploadBox" name="file" class="form-control " />
			</div>

			


			<div class="form-group col-6">
				<label asp-for="CategoryId" class="control-label"></label>
				<select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryList">
					<option disabled selected>--Select Category--</option>
				</select>
				<span asp-validation-for="CategoryId" class="text-danger"></span>

			</div>
			<div class="form-group col-6">
				<label asp-for="BrandId" class="control-label"></label>
				<select asp-for="BrandId" class ="form-control" asp-items="ViewBag.BrandList">
					<option disabled selected>--Select Brand--</option>
				</select>
				<span asp-validation-for="BrandId" class="text-danger"></span>
			</div>
			<div class="form-group col-12">
				<label asp-for="Description" class="control-label"></label>
				<textarea asp-for="Description" class="form-control" ></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group col-12">
				<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
			</div>

		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

</div>

<script>
function ValidateInput(){
	if($('#uploadBox').val()===''){
		Swal.fire({
		icon: 'error',
		title: 'Oops...',
		text: 'You need provide product image!'
})
	return false;
	}
	return true;
}
</script>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}

	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>tinymce.init({selector:'textarea'});</script>
}