@model HyperShop.Models.ViewModels.StockUpsertVM

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-5">

<h4>Stock</h4>
<hr />
<div>
	<div>
		<form method="post" class="row" asp-action="Create" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="ProductId" hidden class="form-control" />



			<div class="form-group col-6">
				<label asp-for="ColorId" class="control-label"></label>
				<select asp-for="ColorId" class ="form-control" asp-items="ViewBag.Colors">
					<option disabled selected>--Select Color--</option>
				</select>
				<span asp-validation-for="ColorId" class="text-danger"></span>
			</div>
			<div class="form-group col-6">
				<label asp-for="PrimaryImage"></label>
				<input type="file" accept="image/png, image/jpg, image/jpeg" id="uploadBox" name="primaryImg" class="form-control " />
			</div>
			<div class="form-group col-6">
				<label asp-for="SecondaryImages"></label>
				<input type="file" accept="image/png, image/jpg, image/jpeg" id="uploadBoxMany" name="secondaryImg" class="form-control" multiple />
			</div>

			<table class="table table-hover">
			<label class="col-12">Quantity</label>
			@for (int i = 0; i<Model.SizeQty.Count; i++ )
			{
				<tr >
					<input asp-for="@Model.SizeQty[i].SizeId" hidden class="form-control" />
					<input asp-for="@Model.SizeQty[i].Size" hidden class="form-control" />
					<td><b>Size @Model.SizeQty[i].Size</b></td>
					<td><input asp-for="@Model.SizeQty[i].Qty" type="number" class="form-control quantity" /></td>
				</tr>
			}
			</table>
			<div class="form-group">
				<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>
</div>
<script>
	function ValidateInput(){
	if($('#uploadBox').val()==='' || $('#uploadBoxMany').val()===''){
		Swal.fire({
		icon: 'error',
		title: 'Oops...',
		text: 'You need provide product primary and secondary images!'
})
	return false;
	}
	let qtySum=0
	for(item of $('.quantity')){
		qtySum+=item.value;
	}
	if(qtySum==0){
		Swal.fire({
		icon: 'error',
		title: 'Oops...',
		text: 'You have not add anything to stock!'
})
	return false;
	}
	return true;
}
</script>
@section CSS{
	<link rel="stylesheet" href="/css/custom.css">
}
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}