@model HyperShop.Models.ViewModels.NavVM
<nav class="navbar navbar-expand-lg">
        <div class="container"><a asp-area="Customer" asp-area="Customer" asp-controller="Home" asp-action="Index" class="navbar-brand home"><img src="/img/hyper-shop.png" alt="Obaju logo" class="d-none d-md-inline-block"><img src="img/logo-small.png" alt="Obaju logo" class="d-inline-block d-md-none"><span class="sr-only">Obaju - go to homepage</span></a>
          <div class="navbar-buttons">
            <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button><a href="basket.html" class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
          </div>
          <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a asp-area="Customer" asp-controller="Home" asp-action="Index" class="nav-link active">Home</a></li>
              <li class="nav-item dropdown menu-large"><a asp-area="Customer" asp-controller="Product" asp-action="Index" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Product<b class="caret"></b></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      <div class="col-md-6 col-lg-3">
                        <h5>Category</h5>
                        <ul class="list-unstyled mb-3">
                          
                          @foreach (var item in Model.Categories)
                         {
                             <li class="nav-item"><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-categories="@item.Id" class="nav-link">@item.Name</a></li>
                         }
                        </ul>

                      </div>
                      <div class="col-md-6 col-lg-3">
                        <h5>Brand</h5>
                        <ul class="list-unstyled mb-3">
                           @foreach (var item in Model.Brands)
                         {
                             <li class="nav-item"><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-brands="@item.Id" class="nav-link">@item.Name</a></li>
                         }
                        </ul>
                      </div>
  
                    </div>
                  </li>
                </ul>
              </li>
                @if (User.IsInRole(HyperShop.Utility.SD.Role_Admin))
                {
                    <li class="nav-item dropdown menu-large"><a data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link" style="cursor: pointer;">Contents Management<b class="caret"></b></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      <div class="col-md-6 col-lg-3">
                        <h5>Stock</h5>
                        <ul class="list-unstyled mb-3">
                          <li class="nav-item"><a asp-area="Admin" asp-controller="Product" class="nav-link">Product</a></li>
                          <li class="nav-item"><a asp-area="Admin" asp-controller="Size" class="nav-link">Size</a></li>
                          <li class="nav-item"><a asp-area="Admin" asp-controller="Color" class="nav-link">Color</a></li>
                          <li class="nav-item"><a asp-area="Admin" asp-controller="Stock" class="nav-link">Stock</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-lg-3">
                        <h5>Details</h5>
                        <ul class="list-unstyled mb-3">
                          <li class="nav-item"><a asp-area="Admin" asp-controller="Brand" class="nav-link">Brand</a></li>
                          <li class="nav-item"><a asp-area="Admin" asp-controller="Category" class="nav-link">Category</a></li>
                        </ul>
                      </div>
  
                    </div>
                  </li>
                </ul>
              </li>
                }



            </ul>
            <div class="navbar-buttons d-flex justify-content-end">
              <!-- /.nav-collapse-->
              <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
              <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>Cart</span></a></div>
            </div>
          </div>
        </div>
      </nav>